*{
    margin: 0px;
    padding: 0px;
    font-family: 'Work Sans', sans-serif;
}
.btn-primary{
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 25px;
    color: #fff;
    font-size: 1.25rem;
    cursor: pointer;
    border: 0px;
}

/* Header Section  */
header{
    background-color: rgba(255, 144, 14, 0.10);  
    padding: 50px 250px;  
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    font-size: 2.8rem;
}
nav > ul{
    display: flex;
    justify-content: ;
}
nav li {
    list-style: none;
    margin-right: 30px;
    font-size: 500;
    font-size: 1rem;
}
nav li a{
    text-decoration: none;
    color: #424242;
}

/* Banner Styles */
.banner-contant{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}
.banner-des{
    color: #181818;
}

.banner img{
    margin-top: 20px;
    width: 100;
}

/* Renponsive Media Queries */
/* Mobile Device */
@media screen and (max-width: 576px) {
    header{
        padding: 20px;
    }
    nav {
        flex-direction: column;
    }

}