*{
    margin: 0px;
    padding: 0px;
    font-family: 'Work Sans', sans-serif;
}
.btn-primary{
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 25px;
    color: #fff;
    font-size: 1.25rem;
    cursor: pointer;
    border: 0px;
}

/* Header Section  */
header{
    background-color: rgba(255, 144, 14, 0.10);  
    padding: 50px 250px;  
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    font-size: 2.8rem;
}
nav > ul{
    display: flex;
    justify-content: ;
}
nav li {
    list-style: none;
    margin-right: 30px;
    font-size: 500;
    font-size: 1rem;
}
nav li a{
    text-decoration: none;
    color: #424242;
}

/* Banner Styles */
.banner-contant{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
    margin-top: 150px;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
    margin: 10px;
}
.banner-des{
    color: #181818;
    margin: 10px;
}

.banner img{
    margin: 30px auto;
    width: 100%;
}
.banner button{
    margin: 20px;
}



/* Main Section Starts */

main{
    max-width: 1440px;
    margin: 0 auto;
}
.team-container{
    display: flex;
    align-items: center;
    margin: 80px;
}
.team-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}
.team-contant{
    padding-right: 70px;
    padding-left: 70px;
}
.team-title{
    font-size: 2.8rem;
}

.team-title .quick{
    color: #727272;
    font-weight: 500;
}
.team-title .feat{
    color: #FF900E;
    font-weight: 700;
}
.team-des{
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    margin: 1.5rem 0rem;
}
/* Feature Section  */

/* Facts Section  */
.fact-title{
    font-size: 45px;
    margin: 20px;
    
}
.fact-des{
    color: #727272;
    margin: 20px;
    
}

.fact-contant{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}
.contant{
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 30px;
    
}
.card-title{
    font-size: 2.2rem;
    color: #424242;
    margin-top: 10px;
}
.card-des{
    font-size: 1.2rem;
    font-weight: 600;
    color: #727272;
    
}






/* Renponsive Media Queries */
/* Mobile Device */
@media screen and (max-width: 576px) {
    header{
        padding: 20px;
    }
    nav , .team-container{
        flex-direction: column;
    }
    ..banner-contant{
        margin-top: 100px;
    }
    .team-img{
        grid-template-columns: 1fr;
        margin: 1rem;
    }

}

/* Tablet Device */
@media screen and (min-width: 576px) and (max-width: 960px){
    header{
        padding: 50px;
    }
    nav , .team-container{
        flex-direction: column;
    }
}